@page
@model Work_IO_UI.Pages.Empresas.CreateModel
@{
    ViewData["Title"] = "Create";
}

<h1 class="text-center">Registro de la Empresa</h1>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <form method="post" enctype="multipart/form-data">
                    <div class="col">
                        <label for="Nombre de la Empresa">Nombre de la Empresa</label>
                        <input type="text" class="form-control" asp-for="Empresa.Nombre" />
                        <span class="text-danger" asp-validation-for="Empresa.Nombre"></span>
                    </div>

                    <div class="col">
                        <label for="Dirección">Dirección</label>
                        <input asp-for="Empresa.Direccion" class="form-control" type="text" /><br />
                        <span class="text-danger" asp-validation-for="Empresa.Direccion"></span>
                    </div>

                    <div class="col">
                        <label for="Número telefónico">Número telefónico</label>
                        <input asp-for="Empresa.Numero" type="tel" class="form-control" />
                        <span class="text-danger" asp-validation-for="Empresa.Numero"></span>
                    </div>

                    <div class="col">
                        <label for="Correo electrónico">Correo Electrónico</label>
                        <input asp-for="Empresa.Correo" class="form-control" type="email" /><br />
                        <span class="text-danger" asp-validation-for="Empresa.Correo"></span>
                    </div><br />

                    <button type="submit" value="Registrar" class="btn btn-primary">Registrar</button> |
                    <button type="submit" value="" class="btn btn-danger" asp-page="/Menu">Cancelar</button>

                </form>                                                                                                                                   
            </div>
            <div class="col-md-3"></div>
        </div>
    </div>
</body>

