@page
@model Work_IO_UI.Pages.Empresas.DetailsModel
@{
    ViewData["Title"] = "Details";
}

<h1 class="text-center">Detalles de la Empresa</h1>
<div class="d-flex flex-row p-2">
    <div class="tab-content">
        <div id="candidatos" class="tab-pane fade show active" role="tabpanel" aria-labelledby="home-tab">
            <p class="mx-auto">Aquí estará la información de los candidatos</p>
        </div>
        <div id="candidatos" class="tab-pane fade show active" role="tabpanel" aria-labelledby="home-tab">
            <div>
                <label>Nombre</label>
                <input asp-for="Empresa.Id" id="Nombre" class="form-control" type="text" />
            </div>


            <div>
                <label>Nombre</label>
                <input asp-for="Empresa.Nombre" id="Nombre" class="form-control" type="text" />
            </div>


            <div class="form-group row">
                <div class="col-sm-10">
                    <label class="form-control form-text">@Html.DisplayFor(model => model.Empresa.Direccion)</label>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-10">
                    <label class="form-control form-text" role="textbox">@Html.DisplayFor(model => model.Empresa.Numero)</label>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-10">
                    <label class="form-control form-text" role="textbox">@Html.DisplayFor(model => model.Empresa.Correo)</label>
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-end">
            <a asp-page="/Empresas/Menu" class="btn btn-light">Regresar</a>
            <a asp-page="/Empresas/Edit" class="btn btn-secondary">Editar</a>

        </div>
    </div>

</div>

