@page
@model Work_IO_UI.Pages.Candidatos.CreateModel
@{
    ViewData["Title"] = "Create";
}

@section Scripts{
    <script>
       $(document).ready(function () {
         $('.custom-file-input').on("change", function () {
            var fileName = $(this).val().split("\\").pop();
           $(this).next('.custom-file-label').html(fileName);
         });
       });
    </script>
}
<h1 class="text-center">Registrar Candidato</h1><br />
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <form method="post" enctype="multipart/form-data">

                    <div class="row form-group">         
                        <div class="col-sm-10">             
                             <div class=" custom-file"> 
                                 <input type="file" asp-for="Foto" class="custom-file-input form-control" lang="es">                 
                                 <label class="custom-file-label" for="Foto">Elige tu foto</label>   
                                 <input hidden asp-for="Candidato.Foto"/>
                            </div>        
                        </div> 
                    </div>

                    <div class="col">
                        <label asp-for="Candidato.Nombre" for="nombre">Nombre del Candidato</label>
                        <input type="text" class="form-control" asp-for="Candidato.Nombre" />
                        <span class="text-danger" asp-validation-for="Candidato.Nombre"></span>
                    </div>

                    <div class="col">
                        <label for="genero">Género</label><br />
                        <input type="radio" asp-for="Candidato.Genero" value="true" />Hombre<br />
                        <input type="radio" asp-for="Candidato.Genero" value="false" />Mujer<br />
                    </div>


                    <div class="col">
                        <label asp-for="Candidato.Fecha_Nam" for="fecha">Fecha de Nacimiento</label>
                        <input type="date" class="form-control" asp-for="Candidato.Fecha_Nam" />
                        <span class="text-danger" asp-validation-for="Candidato.Fecha_Nam"></span>
                    </div>

                    <div class="col">
                        <label asp-for="Candidato.Lugar_Nam" for="lugar">Lugar de Nacimiento</label>
                        <input type="text" class="form-control" asp-for="Candidato.Lugar_Nam" />
                        <span class="text-danger" asp-validation-for="Candidato.Lugar_Nam"></span>
                    </div>

                    <div class="col">
                        <label asp-for="Candidato.Id">Nacionalidad:</label>
                        <select class="custom-select" asp-for="Candidato.NacionalidadId" asp-items="@(new SelectList(Model.ListNacionalidad,"Id","TipoNa"))">
                            <option>Selecciona la nacionalidad</option>
                        </select>
                    </div>


                    <div class="col">
                        <label for="estado civil">Estado Civil</label><br />
                        <select asp-for="Candidato.Estado_civil" class="custom-select" id="estado civil">
                            <option value="Selecciona una opcion">Selecciona una opción</option>
                            <option value="soltero">Soltero</option>
                            <option value="casado">Casado</option>
                            <option value="divorciado">Divorciado</option>
                            <option value="viudo">Viudo</option>
                        </select>
                    </div>

                    <div class="col">
                        <label asp-for="Candidato.Curp" for="curp">CURP</label>
                        <input type="text" class="form-control" asp-for="Candidato.Curp" />
                        <span class="text-danger" asp-validation-for="Candidato.Curp"></span>
                    </div>

                    <div class="col">
                        <label asp-for="Candidato.NSS" for="nss">NSS</label>
                        <input type="number" class="form-control" asp-for="Candidato.NSS" />
                        <span class="text-danger" asp-validation-for="Candidato.NSS"></span>
                    </div>

                    <div class="col">
                        <label asp-for="Candidato.RFC" for="rfc">RFC</label>
                        <input type="number" class="form-control" asp-for="Candidato.RFC" />
                        <span class="text-danger" asp-validation-for="Candidato.RFC"></span>
                    </div><br />

                    <div class="col">
                        <label asp-for="Candidato.OrdenId">Tipo de Vacante:</label>
                        <select class="custom-select" asp-for="Candidato.OrdenId" asp-items="@(new SelectList(Model.ListOrden,"Id","TipoVacante"))">
                            <option>Selecciona el vacante del candidato</option>
                        </select>
                    </div><br />

                    <button type="submit" value="Registrar" class="btn btn-primary">Registrar</button>|
                    <button type="submit" value="" class="btn btn-danger" asp-page="/Menu">Cancelar</button>

                </form>

            </div>

        </div>
    </div>
</body>

