@page
@model Work_IO_UI.Pages.Candidatos.CreateModel
@{
    ViewData["Title"] = "Create";
}

<h1 class="text-center">Registrar Candidato</h1>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <form method="post" enctype="multipart/form-data">

                    <div class="col">
                        <label for="Nombre del candidato">Nombre del Candidato</label>
                        <input type="text" class="form-control" asp-for="Candidato.Nombre" />
                        <span class="text-danger" asp-validation-for="Candidato.Nombre"></span>
                    </div>

                    <div class="col">
                        <input type="radio" asp-for="Candidato.Genero" value="true" />Hombre<br />
                        <input type="radio" asp-for="Candidato.Genero" value="false" />Mujer<br />
                    </div>

                    <div class="col">
                        <label for="Fecha de nacimiento">Fecha de Nacimiento</label>
                        <input asp-for="Candidato.Fecha_Nam" type="date" class="form-control" />
                        <span class="text-danger" asp-validation-for="Candidato.Fecha_Nam"></span>
                    </div>

                    <div class="col">
                        <label for="age">Edad</label>
                        <input asp-for="Candidato.Edad" class="form-control" />
                        <span class="text-danger" asp-validation-for="Candidato.Edad"></span>
                    </div>

                    <div class="col">
                        <label for="estado civil">Estado Civil</label>
                        <select asp-for="Candidato.Estado_civil" id="estado civil" class="custom-select">
                            <option value="seleccione">Seleccione una opción</option>
                            <option value="soltero">Soltero</option>
                            <option value="casado">Casado</option>
                            <option value="divorciado">Divorciado</option>
                            <option value="viudo">Viudo</option>
                        </select>
                    </div>

                    <div class="col">
                        <label for="curp">CURP</label>
                        <input type="text" class="form-control" asp-for="Candidato.Curp" />
                        <span class="text-danger" asp-validation-for="Candidato.Curp"></span>
                    </div>

                    <div class="col">
                        <label for="lugar">Lugar de Nacimiento</label>
                        <input type="text" class="form-control" asp-for="Candidato.Lugar_Nam" />
                        <span class="text-danger" asp-validation-for="Candidato.Lugar_Nam"></span>
                    </div>

                    <div class="col">
                        <label for="imss">NSS</label>
                        <input type="text" class="form-control" asp-for="Candidato.NSS" />
                        <span class="text-danger" asp-validation-for="Candidato.NSS"></span>
                    </div>

                    <div class="col">
                        <label for="rfc">RFC</label>
                        <input type="text" class="form-control" asp-for="Candidato.RFC" />
                        <span class="text-danger" asp-validation-for="Candidato.RFC"></span>
                    </div>

                    <div class="col">
                        <label for="nacionalidad">Nacionalidad:</label>
                        <input type="text" class="form-control" asp-for="Nacionalidad.TipoNa" />
                        <span class="text-danger" asp-validation-for="Nacionalidad.TipoNa"></span>
                    </div>


                    <div>
                        <button type="submit" value="registrar" class="btn btn-primary">Registrar</button> |
                        <button type="submit" value="" class="btn btn-danger" asp-page="/Menu">Cancelar</button>
                    </div>
                    <!--
                         <div class="form-row">
                            <label asp-for="Candidato.Id">Nacionalidad a la que pertenece:</label><br />
                        <select class="custom-select" asp-for="Nacionalidad.CandidatoId" asp-items="@(new SelectList(Model.ListNaci,"Id","Nombre"))">
                         <option>Selecciona la nacionalidad</option>
                         </select>

                        </div>

                            <div class="form-row">
                        <label asp-for="Candidato.Id">Orden a la que pertenece:</label>
                            <select class="custom-select" asp-for="Candidato.OrdenId" asp-items="@(new SelectList(Model.ListOrden,"Id","Nombre"))">
                                 <option>Selecciona la orden</option>
                                </select>
                     </div>-->








                </form>
            </div>
            <div class="col-md-3"></div>
        </div>
    </div>

</body>

