@page
@model Work_IO_UI.Pages.Candidatos.DetailsModel
@{
    ViewData["Title"] = "Details";
}

<h1 class="text-center">Detalles de los Candidatos</h1>
<div class="d-flex flex-row p-2">
    <div class="tab-content">
        <div id="candidatos" class="tab-pane fade show active" role="tabpanel" aria-labelledby="home-tab">
            <p class="mx-auto">Aquí estará la información de los candidatos</p>
        </div>
        <div>

        </div>
    </div>

