@page
@model Work_IO_UI.Pages.LoginModel
@{
    ViewData["Title"] = "Login";
}

<h1 class="text-center">Iniciar Sesión</h1>

<div class="login-box">

    <form>

        <!--Usuario-->
        <label for="Usuario">Usuario</label>
        <input type="text" placeholder="Correo Electrónico o Usuario" />
        <!--Contraseña-->
        <label for="contraseña">Contraseña</label>
        <input type="password"placeholder="Contraseña" />
        <input type="submit" value="Iniciar Sesión" />

        <a href="#">¿Olvidaste tú contraseña?</a>
        <br />
        <a href="#">Registrarme</a> 
    </form>
</div>

<style>

    body {
        margin:0;
        padding:0;
        font-family: sans-serif;
    }

    .login-box label {
        margin: 0;
        padding:0 0 20px;
        font-weight: bold;
        display: block;
    }

    .login-box input {
        width: 100%;
        margin-bottom: 20px;
    }

    .login-box input[type="text"], .login-box input[type="password"] {
        border: none;
        border-bottom: 1px solid;
        background: transparent;
        outline: none;
        height: 40px;
        font-size: 16px; 
    } 

    .login-box input[type="submit"] {
        cursor: pointer;
        background: #808080;
        color: white;
        outline:none;
        border:none;
        font-size:18px;
    }

    .login-box a {
        text-decoration: none;
        font-size: 12px;
        line-height: 20px;
        color:dimgray;
    }

    .login-box a:hover {
        color: darkgray;
    }

    .login-box {
        width: 520px;
        height:500px;
        background: #00ff90;
        color: white;
        top: 50%;
        left: 50%;
        position: absolute;
        transform: translate(-50%, -50%);
        box-sizing: border-box;
        padding: 70px 30px;
    }


</style>



