@page
@model Work_IO_UI.Pages.MenuModel
@{
    ViewData["Title"] = "Menu";
}


<div class="d-flex justify-content-end p-2">
   <a  asp-page="/Index"  class="btn btn-link m-2">Salir</a>
</div>
<h1 class="text-center">Menú</h1><br />
<div class="card-group">
    <div class="col mb-4">
        <div class="card" style="width: 18rem;">
            <div class="row-cols-sm-4">
                <div class="card-body">
                    <h5 class="card-title text-center">Empresas</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Aquí se encuentra la información de las empresas</h6>
                    <p class="card-text">Todo lo encontrará aquí</p>
                    <a asp-page="/Empresas/Index" class="btn btn-primary">Listado</a> |
                    <a asp-page="/Empresas/Create" class="btn btn-success">Registrar</a>
                </div>
            </div>
            <div class="row-cols-sm-4"></div>
        </div>
    </div>

    <div class="col mb-4">
        <div class="card" style="width: 18rem;">
            <div class="row-cols-sm-4">
                <div class="card-body">
                    <h5 class="card-title text-center">Ordenes</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Aquí se encuentra la información de las ordenes</h6>
                    <p class="card-text">Todo lo encontrará aquí</p>
                    <a asp-page="/Ordenes/Index" class="btn btn-primary">Listado</a> |
                    <a asp-page="/Ordenes/Create" class="btn btn-success">Registrar</a>
                </div>
            </div>
            <div class="row-cols-sm-4"></div>
        </div>
    </div>


    <div class="col mb-4">
        <div class="card" style="width: 18rem;">
            <div class="row-cols-sm-4">
                <div class="card-body">
                    <h5 class="card-title text-center">Candidatos</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Aquí se encuentra la información de las candidatos</h6>
                    <p class="card-text">Todo lo encontrará aquí</p>
                    <a asp-page="/Candidatos/Index" class="btn btn-primary">Listado</a> |
                    <a asp-page="/Candidatos/Create" class="btn btn-success">Registrar</a>
                </div>
            </div>
            <div class="row-cols-sm-4"></div>
        </div>
    </div>

    <div class="col mb-4">
        <div class="card" style="width: 18rem;">
            <div class="row-cols-sm-4">
                <div class="card-body">
                    <h5 class="card-title text-center">Referencias</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Aquí se encuentra la información de las referencias</h6>
                    <p class="card-text">Todo lo encontrará aquí</p>
                    <a asp-page="/Referencia/Index" class="btn btn-primary">Listado</a> |
                    <a asp-page="/Referencia/Create" class="btn btn-success">Registrar</a>
                </div>
            </div>
            <div class="row-cols-sm-4"></div>
        </div>
    </div>
</div>














