
@page
@model Work_IO_UI.Pages.ReferenciasModel
@{
    ViewData["Title"] = "Referencias";
}

    <body class="referencias">


        <h1 class="text-center">Registro del Referencias</h1>

        <div class="form-group">
            <label for="nombre comercial">Nombre Comercial</label><br />
            <input type="text" size="50" /><br />
            <br />
        </div>

        <div class="form-group">
            <label for="telefono">Telefono</label><br />
            <input type="text" size="30" />
        </div>

        <div class="form-group">
            <label for="direccion">Dirección</label><br />
            <input type="text" size="40" />
        </div>

        <div class="form-group">
            <label for="nombre">Nombre del Informante</label><br />
            <input type="text" size="40" />
        </div>

        <div class="form-group">
            <label for="puesto">Puesto del Informante</label><br />
            <input type="text" size="40" />
        </div>

        <div class="form-group">
            <label for="puestocandidato">Puesto del Candidato</label><br />
            <input type="text" size="40" />
        </div>

        <div class="form-group">
            <label for="sueldo">Sueldo</label><br />
            <input type="text" size="40" />
        </div>

        <div class="form-group">
            <label for="puestoante">Puestos Anteriores</label><br />
            <input type="text" size="40" />
        </div>

        <div class="form-group">
            <label for="contrato">Tipo de Contrato</label><br />
            <input type="text" size="40" />
        </div>

        <div>
            <label for="rfc">RFC</label><br />
            <input type="text" size="40" />
        </div>

        <div>
            <label for="funcion">Función del Último Puesto</label><br />
            <input type="text" size="40" />
        </div>

        <div>
            <label for="desempenio">Desempenio</label><br />
            <input type="text" size="40" />
        </div>

        <div>
            <label for="observaciones">Observaciones</label><br />
            <input type="text" size="50" width="30" />
        </div>

        <div class="row">
            <!-- <button type="submit" value="" class="btn btn-success btn-block btn-lg">Registrar</button>-->

            <button type="submit" value="">Registrar</button>
        </div>


    </body>

<style>

    body {
        font-family: initial;
        margin: 0;
        padding: 0;
        border-radius: 5px;
        background-color: cadetblue;
    }

    .referencias label {
        margin: 0px;
        padding: 0px;
        font-weight: bold;
        color: white;
    }

    .referencias input {
        margin-bottom: 10px;
    }

    .referencias input[type="text"] {
        
        box-sizing: border-box;
        background: white;
        height: 30px;
        color: black;
        font-size: 16px;
        border-style: solid;
        border-width: medium;
        box-sizing: border-box;
    }

    .referencias input [type="radio"] {
          
        margin-bottom: 10px;
        margin: 0px;
        padding: 0px;
        color: black;
    }

    .referencias select {
        height: 30px;
        border-style: solid; /*le da borde al input*/
        border-width: medium; /*le deja el borde completamente negro y delgado*/
        background: white; /*color de fondo del input*/
        color: black; /*color de las letras*/
        font-size: 16px; /*tamaño de las letras*/
    }

    .button {
        position: page;
        top: 40%; /*donde quedará centrado*/
        left: auto;
        background: white; /*color de fondo del input*/
        color: black; /*color de las letras*/
        font-size: 18px;
        cursor: pointer; /*sirve para indicar que función hará el botón*/
    }
</style>


