@page
@model Work_IO_UI.Pages.RegistroCandidatoModel
@{
    ViewData["Title"] = "RegistroCandidato";
}


    <body>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                    <form method="post" enctype="multipart/form-data">
                        <div class="form-group">
                            <label for="Nombre del candidato">Nombre del Candidato</label>
                            <input type="text" class="form-control" size="80" placeholder="Nombre" asp-for="Candidato.Nombre" />
                            <span class="text-danger" asp-validation-for="Candidato.Nombre"></span>
                        </div>

                        <div class="form-group">
                            <input type="radio" asp-for="Candidato.Genero" value="true" />Hombre<br />
                            <input type="radio" asp-for="Candidato.Genero" value="false" />Mujer<br />
                            <!--  <input asp-for="Candidato.Genero" class="form-control" type="radio" /><br />-->

                        </div>

                        <div class="form-group">
                            <label for="Fecha de nacimiento">Fecha de Nacimiento</label>
                            <input asp-for="Candidato.Fecha_Nam" type="date" size="40" class="form-control" />
                            <span class="text-danger" asp-validation-for="Candidato.Fecha_Nam"></span>
                        </div>

                        <div class="form-group">
                            <label for="age">Edad</label>
                            <input asp-for="Candidato.Edad" class="form-control" size="30" placeholder="Edad" /><br />
                            <span class="text-danger" asp-validation-for="Candidato.Edad"></span>
                        </div>

                        <div class="form-group">
                            <label for="estado civil">Seleccione una opción</label><br />
                            <select id="estado civil">

                                <option value="Estado Civil"></option>
                                <option value="soltero">Soltero</option>
                                <option value="casado">Casado</option>
                                <option value="divorciado">Divorciado</option>
                                <option value="viudo">Viudo</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label for="curp">CURP</label><br />
                            <input type="text" size="30" asp-for="Candidato.Curp" />
                            <span class="text-danger" asp-validation-for="Candidato.Curp"></span>
                        </div>

                        <div class="form-group">
                            <label for="imss">NSS</label><br />
                            <input type="text" size="30" asp-for="Candidato.NSS" />
                            <span class="text-danger" asp-validation-for="Candidato.NSS"></span>
                        </div>

                        <div>
                            <label for="rfc">RFC</label><br />
                            <input type="text" size="30" asp-for="Candidato.RFC" />
                            <span class="text-danger" asp-validation-for="Candidato.RFC"></span>
                        </div>

                        <div>
                            <label for="nacionalidad">Nacionalidad</label><br />
                            <input type="text" size="30" asp-for="Candidato.Nacionalidad" />
                            <span class="text-danger" asp-validation-for="Candidato.Nacionalidad"></span>
                        </div>

                        <div>
                            <label for="orden">OrdenId</label><br />
                            <input type="number" size="30" asp-for="Candidato.OrdenId" />
                            <span class="text-danger" asp-validation-for="Candidato.OrdenId"></span>

                        </div>

                        <div>
                            <label for="documento">DocumentosId</label><br />
                            <input type="number" size="30" asp-for="Candidato.DocumentoId" />
                            <span class="text-danger" asp-validation-for="Candidato.DocumentoId"></span>
                        </div>

                        <div>
                            <label for="referencias">ReferenciasId</label><br />
                            <input type="text" size="30" asp-for="Candidato.ReferenciasId" />
                            <span class="text-danger" asp-validation-for="Candidato.ReferenciasId"></span>
                        </div>

                        <button type="submit" value="" class="btn btn-primary">Registrar</button> |
                        <button type="submit" value="" class="btn btn-danger" asp-page="RegistroEmpresa">Cancelar</button>

                    </form>
                </div>
                <div class="col-md-3"></div>
            </div>
        </div>
    </body>
   
<style>

    body {
        font-family: initial;
        margin: 0;
        padding: 0;
        border-radius: 5px;
        background-color: cadetblue;
    }

    .candidato label {
        margin: 0px;
        padding: 0px;
        font-weight:bold;
        color:white;
    }

    .candidato input {
        margin-bottom: 10px;
    }

    .candidato input[type="text"] {
         
        box-sizing: border-box;
        background: white;
        height: 30px;
        color: black;
        font-size: 16px;
        border-style: solid;
        border-width: medium;
        box-sizing:border-box;
    }

     .candidato input [type="radio"] {
           
        margin-bottom: 10px;
        margin: 0px;
        padding: 0px;
        color: black; 
     }

    .candidato select {
        height: 30px;
        border-style: solid; /*le da borde al input*/
        border-width: medium; /*le deja el borde completamente negro y delgado*/
        background: white; /*color de fondo del input*/
        color: black; /*color de las letras*/
        font-size: 16px; /*tamaño de las letras*/
    }

    .button {
        position: page;
        top: 40%; /*donde quedará centrado*/
        left: auto;
        background: white; /*color de fondo del input*/
        color: black; /*color de las letras*/
        font-size: 18px;
        cursor: pointer; /*sirve para indicar que función hará el botón*/
    }





</style>
