@page
@model Work_IO_UI.Pages.RegistroCandidatoModel
@{
    ViewData["Title"] = "RegistroCandidato";
}

<h1 class="text-center">Registro delCandidato</h1>

<body>
    <div class="candidato">
        <form>
            <label for="nombre del candidato">Nombre del Candidato</label><br />
            <input type="text" placeholder="Apellido Paterno" size="60" /><br />
            <input type="text" placeholder="Apellido Materno" /><br />
            <label for="añadir un archivo">Añadir un Archivo</label><br />
            <input type="file" name="adjunto" />




        </form>
    </div>
</body>

