@page
@model Work_IO_UI.Pages.RegistroCandidatoModel
@{
    ViewData["Title"] = "RegistroCandidato";
}

<h1 class="text-center">Registro delCandidato</h1>

<body>
    <div class="candidato">
        <form>
            <label for="nombre del candidato">Nombre del Candidato</label>
            <br />
            <input type="text" placeholder="Nombre" size="60" />
            <br />
            <input type="text" placeholder="Apellido Paterno" size="60" />
            <br />
            <input type="text" placeholder="Apellido Materno" size="60" />
            <br />
            <label for="sexo">Sexo</label>
            <br />
            <input type="radio" name="sexo" value="hombre" checked="checked" />Hombre
            <input type="radio" name="sexo" value="mujer" checked="checked" />Mujer
            <br />
            <label for="añadir un archivo">Añadir un Archivo</label>
            <br />
            <input type="file" name="adjunto" />




        </form>
    </div>
</body>

<style>









</style>
